@font-face{
    src:url('assets/FunkySign.otf');
    font-family: 'funky';
}
*{
    box-sizing:border-box;
}
body,html{
    max-height:100vh;
    max-width:100vw;
    margin:0;
    padding:0;
    background-image: url('assets/formBg.png');
}
.content{
    display:grid;
    width: 100vw;
    height:100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    font-family: 'funky';
    color:#f8d3c5;
}
.head{
    grid-area: 1/2/2/2;
    text-align:center;
    font-size: 2rem;
    text-shadow:3px 3px #CB7A5C;
}
.questions{
    grid-area: 2/2/3/3;
    text-shadow:2px 2px #CB7A5C;
    font-size:1.5rem;
    margin-left:auto;
    margin-right:auto;
}
input, textarea, select, input::placeholder{
    font-family:'funky';
    font-size:1.5rem;
    color:#eea286;
    text-shadow:#f8d3c5;
}
input:checked+label{
    color:#CB7A5C;
    text-shadow:2px 2px #f8d3c5;
}
.toOtherPage{
    grid-area:1/1/2/2;
    height:45%;
    width:80%;
    border: 10px solid #a3b899;
    border-radius:10px;
    background-color:#f8d3c5;
    margin: 1%;
    text-align: right;
}
.toOtherPage a{
    font-size:2rem;
    text-decoration: none;
    color:#CB7A5C;
    width:100%;
    height:100%;
}
.toOtherPage h1{
    float:left;
    color:#CB7A5C;
    font-size: 5rem;
    margin-top:0;
    padding:0;
    line-height:0.8;
}
.tableMain{
    grid-area: 2/1/3/4;
    background-color:white;
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
    max-width: 100%;
    max-height:100%;
    border:2px solid #CB7A5C;
    border-bottom:3px solid #CB7A5C;
    overflow:scroll;
}
table{
    border-collapse:collapse;
    border-bottom:3px solid #CB7A5C;
}
 th, .newData{
    border:3px solid #CB7A5C;
    margin:0;
    width: 10%;
}
.newData{
    text-shadow:1px 2px #CB7A5C;
    font-size:1.25rem;
}
th{
    font-size: 1.5rem;
    padding:0;
    color:#CB7A5C;
    text-shadow:2px 2px#f8d3c5;
}
#noData{
    text-align: center;
    font-size:5rem;
    border:none;
}
#club{
    grid-area: 1/1/1/1;
    margin-top:50%;
    margin-left:10%;
    border:3px solid #CB7A5C;
}